body {
    background-image: url('background.png'); 
    background-size: cover; 
}
.logo img {
    width: 70px;
    height: auto;
    margin-bottom: 5px;
} 
/* css for index.html */
.index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0); /* Transparent background */
    color: white;
    text-align: center;
}
.navigation {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.navigation a {
    text-decoration: none;
}
.navigation img {
    margin-top: 20px;
    max-width: 50%;
    height: auto;
}
.index-heading1{
    color: #8D5D39; 
    font-size: 32px; 
    margin-top: 70px;
    margin-bottom: 5px;
}
.index-heading2{
    color: #8D5D39; 
    font-size: 16px; 
    margin-top: 0px;
    margin-bottom: 20px; 
}
/*css for culture.html and concept.html pages */

.top-row, .middle-row, .bottom-row {
    display: flex;
    justify-content: space-between; /* Distribute images evenly with space in between */
    align-items: center;
    margin-left: 100px;
  
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.image-container img {
    max-width: 50%;
    height: auto;
    margin: 5px; /* To space out images */
}
.image-container span {
    display: inline-block;
    margin: 5px;
}
.text-container {
    max-width: 50%; 
    margin-right: 60px;
    margin-left: -120px;
}
.text-container p {
    text-align: center;
    color: #8D5D39;
    font-size: 1rem;
}
.text-container p strong {
    font-size: 1.5rem; /* Adjustable font size */
}

/*css for video page */
.video-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}
.video-info {
    flex: 1;
    padding-right: 100px; /* To create some distance between the main video and other videos */
}
.video-title {
    color: #8D5D39;
    font-size: 24px;
    margin-bottom: 10px;
}
.video-player {
    width: 100%; 
    height: 0;
    padding-bottom: 56.25%; /* maintaing ratio */
    position: relative;
}
.video-player iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.recommended-videos {
    flex-basis: 30%;  /*recommended videos don't occupy entire flex */
}
.recommended-title {
    margin-top: 30px;
    color: #8D5D39;
    font-size: 18px;
    margin-bottom: 20px;
}
.recommended-list {
    padding: 0;
}
.recommended-video-thumbnail {
    max-width: 50%; 
    max-height: auto; 
    margin-right: 10px;
}
/* To display the video title next to each thumbnail */
.recommended-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.recommended-video-title {
    color: #8D5D39; 
    font-weight: bold; 
    font-size: 16px; 
    display: block; 
    margin-bottom: 5px; 
}
/*css for credits page */
.credits-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #8D5D39; 
    font-size: 24px;
}
.slideshow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: relative;
    text-align: center;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
#slideshowImage {
    width: 50%;
    height: auto;
    margin: 0 auto; /* Center-align images horizontally */
}
#nextButton {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: #8D5D39; 
    margin-top: 20px; 
    cursor: pointer;
    position: absolute;
    top: 50%; /* Vertically align the arrow */
    right: 400px; 
    transform: translateY(-50%); 
}
#nextButton::before {
    content: '\2192'; /* right arrow */
}

